.job-listings {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0;
  animation: fadeInAnimation 0.9s;
  animation-timing-function: ease-out;

  @media screen and (max-width: 600px) {
    padding: 0 0 20px 0;
    gap: 45px;
  }
}
